body {
  display: flex;
  font-size: 30px;
  font-family: 'Google Sans', Roboto,Arial, sans-serif;
}

#root {
  display: block;
  justify-content: center;
  width: 100vw;
}

.main {
  width: 1000px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  &__arrows {
    cursor: pointer;
    display: inline-block;

    &--left,
    &--right {
      display: inline-block;
    }
  }

  &__link {
    margin: 7px 12px 5px 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    text-transform: none;
    opacity: 1;
    color: #3c4043;

    &--active {
      color: #242343;
    }
  }
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;


  &-wrapper {
    display: block;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  padding-top: 10px;

}

@for $day__number from 1 to 32 {
  .day:nth-child(#{$day__number})::after {
    content: "#{$day__number}";
  }
}

@for $day from 28 to 31 {
  .calendar__month-#{$day} div:nth-child(#{$day}) ~ div {
    display: none;
  }
}

@for $day from 28 to 31 {
  .calendar__month-#{$day} div:nth-child(#{$day}) ~ div {
    display: none;
  }
}

@for $day from 1 to 7 {
  .calendar__month-weekStart-#{$day} > div:nth-child(1) {
    grid-column-start: #{$day};
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #8c9094;
  box-sizing: border-box;
  height: 100px;
  transition: transform 0.5s, background 0.5s;
  position: relative;
  border-radius: 5px;
  margin-left: 3px;
  margin-bottom: 3px;
}

.day:hover {
  background: #abb4ee;
}

.dot {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
}
